doctype html
html
	head
		title #{site}
		link(href=`${staticPath}css/style.css` rel="stylesheet" type="text/css" media="all")
		script(src="https://code.jquery.com/jquery-1.11.1.js")
	body
		#result-div
		#wrap
			#canvas
			#canvas2
			#canvas3
			#canvas4
			#canvas5
		if env == 'production'
			script(src=`${staticPath}js/vendor.bundle.js`)

		script(src=`${staticPath}js/bundle.js`)